

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background: #fff;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	#wc-stripe-cc-form {
		max-width: 600px;
	}

	#place_order {
		min-width: 10em;
	}

	.woocommerce-terms-and-conditions-wrapper {
		margin-bottom: 1rem;
		font-size: 0.9rem;
	}


	ul.payment_methods {

		@include woo_pc {
			padding: 1.5rem;
		}
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	div.payment_box {

		@include woo_pc {
			margin: 1.5rem 0;
			padding: 1.5rem;
		}
		// color: #515151;
		// font-size: 0.92em;
		background-color: #f7f7f7;
		// border-radius: 2px;
		&::before {
			border-bottom-color: #f7f7f7;
		}
	}

	.woocommerce-SavedPaymentMethods {
		margin-top: 1rem !important;
	}

	// .InputElement {

	// }
	// .stripe-card-element {
	// 	margin-bottom: 0.5em;
	// }

	.StripeElement {
		margin: 4px 0 !important;
		padding: 0.5em !important;
	}
}


// .woocommerce-checkout-payment{

// }
